{% extends "base.html" %}
{% block content %}

{% for tweet in tweets.items %}
    <article class="media content-section" >
        <img src="{{ url_for('static', filename='profile_pics/' + tweet.author.image_file) }}" class="rounded-circle article-img" alt="">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_tweets', username=tweet.author.username) }}">{{ tweet.author.username }}</a>
            <small class="text-muted">{{ tweet.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <a href="{{ url_for('tweet', id=tweet.id)}}" class="tweet">
        <div>
            <p class="article-content h4 mt-3">{{ tweet.text }}</p>
        </div>
        </a>
        </div>
    </article>
{% endfor %}
{% for page_num in tweets.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)  %}
    {% if page_num %}
        {% if tweets.page == page_num %}
            <a class="btn btn-info mb4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
      
{% endblock content %}
